<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAccessibilityUsageDescription</key>
    <string>This app requires accessibility permissions to listen for global keyboard events and play sounds.</string>
    <key>NSInputMonitoringUsageDescription</key>
    <string>This app requires input monitoring permission to detect key presses and play keyboard sounds.</string>
    <key>LSUIElement</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>Kliky</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Achuth. All rights reserved.</string>
</dict>
</plist>
